* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navi-container {
  position: fixed;
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.829);
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navi-bar {
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.navi-bar .logo {
  margin: 20px 0;
}

.navi-bar .logo img {
  width: 110px;
  height: auto;
  margin: 0 25px;
  transition: all 0.8s ease-in-out;
}
@media (max-width: 550px) {
  .navi-bar .logo img {
    width: 75px;
    margin: 0 5px;
  }
}

.navi-bar .logo img:hover {
  border: 1px solid white;
  transition: all 0.8s ease-in-out;
}

.checkbox {
  opacity: 0;
  visibility: hidden;
  display: none;
  position: absolute;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  width: 50px;
  background-color: #111;
  width: 55px;
  border-radius: 50px;
  position: relative;
  padding: 10px;
  transform: scale(0.9);
  cursor: pointer;
}

.ball {
  background-color: #fff;
  position: absolute;
  top: 4px;
  left: 5px;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.burgerBtn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  outline-style: none;
}

img.burgerBtn-hover {
  width: 35px;
  height: 35px;
  right: 10%;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  outline-style: none;
}

.burger-menu img {
  transition: all linear 0.4s;
}

.burger-menu:hover img {
  opacity: 0;
}

.burger-menu:hover img.burgerBtn-hover {
  opacity: 1;
}

/*overlay menu*/
#overlay-navigation {
  position: fixed;
  height: 600px;
  width: 50vw;
  top: -80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #003d87f1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease-in-out;
  border: 1px solid white;
  border-radius: 15px;
}

#overlay-navigation.active {
  top: 420px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2rem;
  list-style-type: none;
}

@media (max-width: 1350px) {
  .links {
    font-size: 1.8rem;
  }
}
.links li {
  margin: 30px 0;
}

.links li a {
  text-decoration: none;
  color: rgb(197, 195, 195);
  letter-spacing: 2px;
}

.links li a:hover {
  color: white;
  font-weight: 600;
}

.close-btn {
  position: absolute;
  font-size: 1.6rem;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  padding: 1px 10px 3px 10px;
  border-radius: 30px;
  color: black;
  background: white;
  cursor: pointer;
  z-index: 2;
  outline-style: none;
}
.close-btn:hover {
  color: white;
  background: black;
  outline-style: none;
}

/*landing-page*/
#home {
  height: 1000px;
  width: 100%;
  background-color: white;
  overflow: hidden;
  transition: background-color 0.5s linear;
}
#home.dark {
  background-color: black;
}

.landing-page-content {
  width: 100%;
  height: 100%;
}

.section-img-bg {
  background: url(../img/logo_black.svg) white;
  color: black;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 550px;
  position: relative;
  transition: background 0.5s linear;
  z-index: 0;
}

@media (max-width: 1000px) {
  .bg-fluid {
    background-size: 400px;
  }
}
@media (max-width: 480px) {
  .bg-fluid {
    background-size: 300px;
    top: -180px;
  }
}

#sectionbg.dark {
  background: url(../img/logo_white.svg) #202020;
  color: black;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 550px;
  position: relative;
}
@media (max-width: 1000px) {
  #sectionbg.dark.bg-fluid {
    background-size: 400px;
  }
}
@media (max-width: 480px) {
  #sectionbg.dark.bg-fluid {
    background-size: 300px;
    top: -180px;
  }
}

.info-title {
  position: absolute;
  width: 45%;
  color: black;
  left: 0%;
  top: 20%;
  margin-left: 20px;
}

.info-title #madAnimation {
  width: 120px;
  margin-top: 10px;
  margin-right: 5px;
}

.info-title #loveAnimation {
  width: 30px;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
}
.info-title #loveAnimation.dark {
  filter: invert(100%);
}
.info-title #madAnimation.dark {
  filter: invert(100%);
}

@media (max-width: 980px) {
  .info-title {
    width: 80%;
    color: black;
    left: 0%;
    top: 15%;
  }
}
@media (max-width: 480px) {
  .info-title {
    width: 80%;
    color: black;
    left: 0%;
    top: 70%;
  }
}

#sectionbg.dark .info-title {
  color: white;
}

.info-title h5 {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 8px;
  margin-bottom: 10px;
}

.info-title h4 {
  font-style: italic;
  margin-bottom: 5px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.info-title h3 {
  text-transform: uppercase;
  font-size: 2.3rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
@media (max-width: 380px) {
  .info-title h3 {
    font-size: 1.8rem;
  }
}

.info-title p {
  font-size: 1rem;
  width: 85%;
}
@media (max-width: 1000px) {
  .info-title p {
    font-size: 0.8rem;
    width: 95%;
  }
}

/*About-Section*/
#about {
  background-color: white;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid gray;
  padding-bottom: 100px;
  overflow: hidden;
  transition: background-color 0.5s linear;
}
#about.dark {
  background-color: rgb(31, 31, 31);
  border-bottom: 1px solid gray;
  transition: background-color 0.5s linear;
}

.about-page-content {
  text-align: center;
  padding-top: 80px;
}

.profil-img {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  margin-bottom: 50px;
}

.profil-img img {
  border-radius: 500px;
  width: 100%;
  height: 100%;
}

@media (max-width: 880px) {
  .profil-img img {
    width: 90%;
    height: 90%;
  }
}

.about-title {
  color: black;
}

#about.dark .about-title {
  color: white;
}

.about-title .box1 {
  position: relative;
}

.about-title h3 {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 1.6rem;
}

@media (max-width: 445px) {
  .about-title h3 {
    font-size: 2.2rem;
    letter-spacing: 6px;
  }
}

.about-title h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15rem;
  width: 100%;
  opacity: 0.1;
  color: #0253b6;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard*/
}

@media (max-width: 1060px) {
  .about-title h1 {
    font-size: 12rem;
  }
}
@media (max-width: 855px) {
  .about-title h1 {
    font-size: 8rem;
  }
}
@media (max-width: 620px) {
  .about-title h1 {
    font-size: 6rem;
  }
}
@media (max-width: 445px) {
  .about-title h1 {
    font-size: 4rem;
  }
}

.about-title p {
  width: 40%;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: 20px;
}

@media (max-width: 865px) {
  .about-title p {
    width: 65%;
  }
}

.box3 h3 {
  margin: 20px 0;
  text-transform: uppercase;
}

.box3 button {
  padding: 10px 30px;
  margin-top: 5px;
  background-color: #003c87;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  cursor: pointer;
  letter-spacing: 3px;
}
.box3 button:hover {
  text-decoration: underline;
}

.container-grid {
  width: 60%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas:
    "item1 item1 item1 item1"
    "item2 item2 item3 item3";
}
@media (max-width: 800px) {
  .container-grid {
    grid-template-areas:
      "item1 item1 item1 item1"
      "item2 item2 item2 item2"
      "item3 item3 item3 item3";
    width: 80%;
  }
}

.container-grid .grids-item {
  background-color: grey;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container.grid .grids-item img {
  max-width: 100%;
  max-height: 100%;
}

.container-grid .item1 {
  grid-area: item1;
  background-image: url(../img/about-img1.jpg);
}
.container-grid .item2 {
  grid-area: item2;
  background-image: url(../img/about-img2.jpg);
}
.container-grid .item3 {
  grid-area: item3;
  background-image: url(../img/about-img3.jpg);
}

/*Portfolio-Section*/
#portfolio {
  background-color: rgb(230, 230, 230);
  height: 100%;
  width: 100%;
  border-bottom: 1px solid gray;
  padding-bottom: 100px;
  overflow: hidden;
  transition: background-color 0.5s linear;
}
#portfolio.dark {
  background-color: rgb(31, 31, 31);
}

.portfolio-title {
  text-align: center;
  color: black;
  padding-top: 100px;
  transition: background-color 0.5s linear;
}
#portfolio.dark .portfolio-title {
  color: white;
}

.portfolio-title h4 {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 8px;
}

/*filter*/
.filter-wrapper {
  padding: 0 15px 50px 15px;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 520px) {
  .filter-wrapper {
    width: 80%;
  }
}

ul.filter-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 520px) {
  ul.filter-menu {
    display: flex;
    flex-direction: column;
  }
}

ul.filter-menu li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 800px) {
  ul.filter-menu li {
    margin-right: 13px;
  }
}

ul.filter-menu li span {
  display: block;
  font-size: 1rem;
  letter-spacing: 6px;
  color: black;
  cursor: pointer;
  transition: background-color 0.5s linear;
}

#portfolio.dark ul.filter-menu li span {
  color: white;
}

ul.filter-menu li.active span,
ul.filter-menu li span:hover {
  color: #003c87;
  border-bottom: 5px solid #003c87;
  width: 100%;
}

.grid-item {
  float: left;
  width: 33.33%;
  padding: 0;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.overlay-content {
  position: absolute;
  background: rgba(0, 0, 0, 0.589);
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  transition: all 0.5s ease;
  opacity: 0;
}
@media (max-width: 1025px) {
  .overlay-content {
    opacity: 1;
  }
}

.overlay-content .info-item {
  font-size: 1.4rem;
  color: white;
  letter-spacing: 3px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1025px) {
  .overlay-content .info-item {
    font-size: 1rem;
  }
}

.grid-item:hover .overlay-content {
  opacity: 1;
}
.grid-item:hover a img {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.grid-item img {
  max-width: 100%;
  display: block;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 991px) {
  .grid-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .grid-item {
    width: 100%;
  }
}

/*Contact Section*/
#contact {
  background-color: rgb(230, 230, 230);
  height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  transition: background-color 0.5s linear;
}
#contact.dark {
  background-color: rgb(31, 31, 31);
}
@media (max-width: 905px) {
  #contact {
    height: 600px;
    width: 100%;
    padding-top: 100px;
  }
}

.contact-container {
  height: 448px;
  width: 68vw;
  background-color: black;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .contact-container {
    height: 420px;
    width: 85vw;
  }
}
@media (max-width: 768px) {
  .contact-container {
    height: 415px;
    width: 85vw;
  }
}
@media (max-width: 400px) {
  .contact-container {
    height: 460px;
    width: 85vw;
  }
}

.get-in-touch-box {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-box-title h3 {
  font-size: 2.3rem;
}

.contact-box-title p {
  padding-top: 20px;
  width: 60%;
  font-size: 0.7rem;
  margin: 0 auto;
}

.contact-form {
  padding-top: 40px;
  width: 60%;
  margin: 0 auto;
}

.contact-form .name-input {
  background: black;
  display: block;
  margin: 0 auto;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
}
.contact-form .email-input {
  background: black;
  display: block;
  margin: 0 auto;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: 1rem;
}

.contact-form .btn-submit {
  float: right;
  margin-top: 30px;
  color: white;
  background: black;
  border: 1px solid white;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 500px) {
  .contact-form .btn-submit {
    font-size: 0.7rem;
    padding: 8px 18px;
  }
}

.contact-form .btn-submit:hover {
  background: white;
  color: black;
}

/*footer-section*/
#footer {
  background-color: black;
  height: 350px;
  width: 100%;
  padding-top: 80px;
  text-align: center;
}

.links-footer {
  margin-bottom: 20px;
}

.links-footer a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
@media (max-width: 400px) {
  .links-footer a {
    margin-right: 10px;
  }
}

.links-footer a:hover {
  text-decoration: none;
  text-decoration: underline;
  margin-right: 20px;
}

.social-media {
  display: block;
  margin-bottom: 30px;
}

.social-media a {
  color: white;
  font-size: 1.6rem;
  margin-right: 30px;
}
.social-media a:hover {
  color: rgba(255, 255, 255, 0.445);
}

.signature {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

@media (max-width: 630px) {
  .signature {
    font-size: 0.6rem;
    letter-spacing: 2.5px;
  }
}
@media (max-width: 490px) {
  .signature {
    font-size: 0.4rem;
    letter-spacing: 2px;
  }
}

/*Projects-Section*/
#projects {
  background-color: rgb(230, 230, 230);
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
  overflow: hidden;
  transition: background-color 0.5s linear;
}
#projects.dark {
  background-color: rgb(31, 31, 31);
}

.banner {
  width: 100%;
  height: 450px;
  position: relative;
  margin-bottom: 30px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.815);
  transition: background-color 0.5s linear;
}
#projects.dark .banner h1 {
  color: rgba(255, 255, 255, 0.692);
}

@media (max-width: 1200px) {
  #projects .banner h1 {
    font-size: 5rem;
  }
}
@media (max-width: 780px) {
  #projects .banner h1 {
    font-size: 4rem;
  }
}
@media (max-width: 530px) {
  #projects .banner h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 455px) {
  #projects .banner h1 {
    font-size: 2.5rem;
  }
}

.sliders {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .sliders {
    width: 70%;
  }
}
@media (max-width: 580px) {
  .sliders {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .sliders {
    width: 70%;
  }
}

.arrow-next {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: black;
  transition: background-color 0.5s linear;
  cursor: pointer;
}
@media (max-width: 460px) {
  .arrow-next {
    left: 110%;
  }
}

.arrow-prev {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: black;
  transition: background-color 0.5s linear;
  cursor: pointer;
}
@media (max-width: 460px) {
  .arrow-prev {
    left: -10%;
  }
}
#projects.dark .arrow-next,
#projects.dark .arrow-prev {
  color: rgba(255, 255, 255, 0.377);
}

#projects .slick-slide {
  height: 300px;
}

#projects .slick-slide img {
  height: 100%;
  width: 90%;
}
@media (max-width: 460px) {
  #projects .slick-slide img {
    width: 100%;
  }
}

.lb-data .lb-details {
  display: none;
}

.btn-back {
  text-align: center;
  margin-top: 30px;
}

.btn-back .fas {
  color: black;
  font-size: 2rem;
  transition: background-color 0.5s linear;
}
#projects.dark .btn-back .fas {
  color: white;
}

.information-container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: black;
  transition: background-color 0.5s linear;
}
#projects.dark .information-container {
  color: white;
}
@media (max-width: 1200px) {
  .information-container {
    max-width: 80%;
  }
}
@media (max-width: 440px) {
  .information-container {
    max-width: 90%;
  }
}

.information-container h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2.2rem;
}

.information-container p {
  font-size: 0.7rem;
}

/*ContactPage-Section*/
#contact-page {
  background-color: white;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s linear;
}
#contact-page.dark {
  background-color: rgb(31, 31, 31);
}

.contact-content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 200px;
  margin-bottom: 100px;
}
@media (max-width: 750px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
  }
}

.contact-left-box {
  width: 350px;
  margin-right: 50px;
  padding: 20px;
}
@media (max-width: 750px) {
  .contact-left-box {
    width: 60%;
    margin-right: 0;
  }
}
@media (max-width: 565px) {
  .contact-left-box {
    width: 80%;
    margin-right: 0;
  }
}

.left-contact-title {
  color: black;
  margin-bottom: 30px;
  transition: background-color 0.5s linear;
}
#contact-page.dark .left-contact-title {
  color: white;
}

.left-contact-title h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.5rem;
}

.left-contact-title h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8rem;
}

.contact-infos {
  display: flex;
  width: 100%;
}

.email-phone {
  width: 100%;
}

.email-phone .email {
  margin-bottom: 30px;
}

.adress-social {
  width: 100%;
}

.adress-social .adress {
  margin-bottom: 30px;
}

#contact-page .email h5,
#contact-page .phone h5,
#contact-page .adress h5,
#contact-page .social-contact h5 {
  color: black;
  margin-bottom: 10px;
  transition: background-color 0.5s linear;
}
#contact-page.dark .email h5,
#contact-page.dark .phone h5,
#contact-page.dark .adress h5,
#contact-page.dark .social-contact h5 {
  color: white;
}

.phone p,
.adress p {
  color: gray;
  font-size: 0.6rem;
}

.email a {
  color: gray;
  text-decoration: none;
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
  display: block;
}
.email a:hover {
  text-decoration: underline;
}

.social-contact a {
  color: gray;
  text-decoration: none;
  font-size: 0.6rem;
  display: block;
  margin-bottom: 10px;
}

.social-contact a:hover {
  text-decoration: underline;
}

.contact-right-box {
  width: 40%;
  margin-left: 50px;
  padding: 20px;
}
@media (max-width: 750px) {
  .contact-right-box {
    width: 60%;
    margin-left: 0;
  }
}
@media (max-width: 565px) {
  .contact-right-box {
    width: 80%;
    margin-left: 0;
  }
}

.right-contact-title {
  margin-bottom: 20px;
  color: black;
  transition: background-color 0.5s linear;
}
#contact-page.dark .right-contact-title {
  color: white;
}

.right-contact-title h1 {
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.right-contact-title h3 {
  font-size: 0.9rem;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact-page .form-contact .nom,
#contact-page .form-contact .email,
#contact-page .form-contact .message {
  border: none;
  border-bottom: 1px solid black;
  background: none;
  padding: 10px;
  margin-bottom: 10px;
  color: gray;
  font-size: 0.8rem;
  font-family: sans-serif;
  transition: background-color 0.5s linear;
}
#contact-page.dark .form-contact .nom,
#contact-page.dark .form-contact .email,
#contact-page.dark .form-contact .message {
  border-bottom: 1px solid white;
}

#contact-page .btn-submit {
  float: right;
  border: 1px solid black;
  color: white;
  background: black;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.5s linear;
}
#contact-page.dark .btn-submit {
  border: 1px solid white;
  color: black;
  background: white;
}

@media (max-width: 750px) {
  .btn-submit {
    font-size: 0.8rem;
    padding: 5px 20px;
  }
}

#contact-page .btn-submit:hover {
  color: black;
  background: white;
  transition: background-color 0.5s linear;
}
#contact-page.dark .btn-submit:hover {
  color: white;
  background: black;
}

.location-box .maps-link {
  width: 100%;
}

.coming-soon {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coming-soon p {
  text-align: center;
  font-size: 0.9rem;
}
